
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 
   "wdth" 100;
   color:blue
}

nav-title{
    font-weight:400;
    font-size:600px;
    
}

nav.h1{
    display:flex;
    margin-right: 50;
    align-items: center;
}





nav{
    display:flex;
}

background.color{
    background-color: lightblue;
}


