<<<<<<< HEAD
h1{
    color:blue;
}

nav{
    display:flex;
    justify-content:space-between;
    max-width: 1000px;
    margin:50px auto;
    align-items: center;
    height:10px;
    
}

.button{
    background-color: blue;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    width:116px;
    height:40px;
    font-weight:bolder;
}

=======
>>>>>>> 0521c008cb68ed4b1c501585d7485683b1c5eb92




